<div class="window h-64 w-64">
    <div class="title-bar">
        <div class="title-bar-text">
            Challenge 1
        </div>
    </div>
    <div class="window-body">
        <p>Hello, world!</p>
    </div>
</div>