<div class="flex justify-center items-center h-screen">
    <div class="window w-48">
        <div class="title-bar">
            <div class="title-bar-text text-sm">
                Loading...
            </div>
        </div>
        <div class="window-body flex justify-center">
            <img src="img/load.gif" alt="loading" class="w-20 h-20">
        </div>
    </div>
</div>