@inject NavigationManager NavigationManager

<div class="window fixed h-10 w-full">
    <div class="window-body flex flex-row mt-0.5">
        <button @onclick=@(() => NavigationManager.NavigateTo("/login")) class="ml-2 px-2 h-8 font-bold text-base text-center">
            &#128682; Login
        </button>

        <button @onclick=@(() => NavigationManager.NavigateTo("/challenges")) class="ml-2 px-2 h-8 font-bold text-base text-center">
            &#128187; Challenges
        </button>

        <div class="absolute top-2 right-3 ml-2 h-8 font-bold text-base text-center">
            @time
        </div>
    </div>
</div>

@code {
    private string time;
    private Timer clock;

    protected override void OnInitialized()
        {
        clock = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object _)
        {
        time = DateTime.Now.ToLongTimeString();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
        {
        clock?.Dispose();
    }
}
