@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject ICookie cookie
@inject ICCService CCService
@inject IChallengeService ChallengeService
@using MuffinCTF.Components.Challenges
@using MuffinCTF.Components.Leaderboard
@page "/challenges"

@if (loading)
{
    <Loading />
}
else
{
    <CascadingValue Value="this">
        @if (!completedFirstChallenge)
        {
            <FirstChallenge />
        }
        else
        {
            @if (showIcons)
            {
                <Icons />
            }
            else
            {
                @if (!showCategory.Equals("leaderboard"))
                {
                    <div class="overflow-hidden">
                        <CategoryWindow />
                    </div>
                }
                else
                {
                    <div class="overflow-hidden">
                        <Leaderboard />
                    </div>
                }
            }
        }
    </CascadingValue>
}

@code {
    //Used for conditional rendering
    private bool loading = true;
    private bool completedFirstChallenge;
    public string showCategory = "";
    public bool showIcons = true;

    //Logged in User
    public User? User { get; set; } = null;

    //Challenges To Complete
    private List<Challenge> challenges { get; set; } = new List<Challenge>();

    //Has to be OnAfterRenderAsync
    //JavaScript interop calls can only be performed during the OnAfterRenderAsync lifecycle method.
    //Using JSInterop call for cookies.
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await HandleCookie();
            if (User != null) completedFirstChallenge = await CCService.CheckIfCompleted(1, User.Id);
        }
    }

    public void OnDblClick(string category)
    {
        showCategory = category;
        showIcons = !showIcons;
        StateHasChanged();
    }

    public async Task OnCloseClick()
    {
        await HandleCookie();
        showCategory = "";
        showIcons = !showIcons;
        StateHasChanged();
    }

    public async Task HandleCookie()
    {
        var tokenCookie = await cookie.GetValue("token");
        var usernameCookie = await cookie.GetValue("user");
        var user = await UserService.ValidateToken(tokenCookie, usernameCookie);

        if (tokenCookie != string.Empty &&
            usernameCookie != string.Empty &&
            user is not null
            )
        {
            completedFirstChallenge = await CCService.CheckIfCompleted(1, user!.Id);
            loading = false;
            User = user;
            StateHasChanged();
        }

        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
