@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject ICookie cookie

@page "/challenges"

<div class="flex justify-center items-center h-screen"> 
    <div class="window h-1/2 w-1/2">
        <div class="title-bar">
            <div class="title-bar-text">
                Challenges
            </div>
        </div>
        <div class="window-body flex flex-wrap place-content-between font-bold">
            <button class="w-24">
                Audiography
            </button>
            <button class="w-24">
                Cryptography
            </button>
            <button class="w-24">
                Reversing
            </button>
            <button class="w-24">
                Pwn
            </button>
            <button class="w-24">
                OSINT
            </button>
            <button class="w-24">
                Steganography
            </button>
            <button class="w-24">
                Web
            </button>
        </div>
    </div>
</div>




@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var userCookie = await cookie.GetValue("token");
            if (userCookie == string.Empty) NavigationManager.NavigateTo("/");
            if (await UserService.ValidateToken(userCookie) == null) NavigationManager.NavigateTo("/");
        }
    }
}
