<div class="flex items-center justify-center h-screen w-screen">
    <div class="window h-1/2 w-1/2">
        <div class="title-bar w-full flex flex-row">
            <div class="title-bar-text">
                Challenge
            </div>
            <div class="flow-root">
                <div @onclick=@(() => Challenges.OnCloseClick()) class="bg-neutral-300 hover:bg-neutral-200 float-right w-4 border text-center font-black">
                    X
                </div>
            </div>
        </div>
        <div class="window-content">
            
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public Challenges Challenges { get; set; }
}