<div class="flex flex-col items-center justify-center h-screen text-center font-serif font-bold user select-none">
    <div>
        <pre style="box-shadow: none;" class="bg-transparent">
 ▄████▄   ▄▄▄       ██▓███  ▄▄▄█████▓ █    ██  ██▀███  ▓█████    ▄▄▄█████▓ ██░ ██ ▓█████     ███▄ ▄███▓ █    ██   █████▒  █████▒ ██▓ ███▄    █ 
▒██▀ ▀█  ▒████▄    ▓██░  ██▒▓  ██▒ ▓▒ ██  ▓██▒▓██ ▒ ██▒▓█   ▀    ▓  ██▒ ▓▒▓██░ ██▒▓█   ▀    ▓██▒▀█▀ ██▒ ██  ▓██▒▓██   ▒ ▓██   ▒ ▓██▒ ██ ▀█   █ 
▒▓█    ▄ ▒██  ▀█▄  ▓██░ ██▓▒▒ ▓██░ ▒░▓██  ▒██░▓██ ░▄█ ▒▒███      ▒ ▓██░ ▒░▒██▀▀██░▒███      ▓██    ▓██░▓██  ▒██░▒████ ░ ▒████ ░ ▒██▒▓██  ▀█ ██▒
▒▓▓▄ ▄██▒░██▄▄▄▄██ ▒██▄█▓▒ ▒░ ▓██▓ ░ ▓▓█  ░██░▒██▀▀█▄  ▒▓█  ▄    ░ ▓██▓ ░ ░▓█ ░██ ▒▓█  ▄    ▒██    ▒██ ▓▓█  ░██░░▓█▒  ░ ░▓█▒  ░ ░██░▓██▒  ▐▌██▒
▒ ▓███▀ ░ ▓█   ▓██▒▒██▒ ░  ░  ▒██▒ ░ ▒▒█████▓ ░██▓ ▒██▒░▒████▒     ▒██▒ ░ ░▓█▒░██▓░▒████▒   ▒██▒   ░██▒▒▒█████▓ ░▒█░    ░▒█░    ░██░▒██░   ▓██░
░ ░▒ ▒  ░ ▒▒   ▓▒█░▒▓▒░ ░  ░  ▒ ░░   ░▒▓▒ ▒ ▒ ░ ▒▓ ░▒▓░░░ ▒░ ░     ▒ ░░    ▒ ░░▒░▒░░ ▒░ ░   ░ ▒░   ░  ░░▒▓▒ ▒ ▒  ▒ ░     ▒ ░    ░▓  ░ ▒░   ▒ ▒ 
  ░  ▒     ▒   ▒▒ ░░▒ ░         ░    ░░▒░ ░ ░   ░▒ ░ ▒░ ░ ░  ░       ░     ▒ ░▒░ ░ ░ ░  ░   ░  ░      ░░░▒░ ░ ░  ░       ░       ▒ ░░ ░░   ░ ▒░
░          ░   ▒   ░░         ░       ░░░ ░ ░   ░░   ░    ░        ░       ░  ░░ ░   ░      ░      ░    ░░░ ░ ░  ░ ░     ░ ░     ▒ ░   ░   ░ ░ 
░ ░            ░  ░                     ░        ░        ░  ░             ░  ░  ░   ░  ░          ░      ░                      ░           ░ 
░                                                                                                                                              
        </pre>
    </div>
    <div class="flex flex-row mt-16">
        <div @ondblclick=@(() => Challenges.OnDblClick("cryptography")) class="ml-12 flex flex-col items-center">
            <img src="img/Cryptography.png" style="width: 48px; height:auto;">
            Cryptography
        </div>
        <div @ondblclick=@(() => Challenges.OnDblClick("osint")) class="ml-12 flex flex-col items-center">
            <img src="img/OSINT.png" style="width: 48px; height:auto;">
            OSINT
        </div>
        <div @ondblclick=@(() => Challenges.OnDblClick("reversing")) class="ml-12 flex flex-col items-center">
            <img src="img/Reversing.png" style="width: 48px; height:auto;">
            Reversing
        </div>
        <div @ondblclick=@(() => Challenges.OnDblClick("steganography")) class="ml-12 flex flex-col items-center">
            <img src="img/Steganography.png" style="width: 48px; height:auto;">
            Steganography
        </div>
        <div @ondblclick=@(() => Challenges.OnDblClick("web")) class="ml-12 flex flex-col items-center">
            <img src="img/Web.png" style="width: 48px; height:auto;">
            Web
        </div>
        <div @ondblclick=@(() => Challenges.OnDblClick("audiography")) class="ml-12 flex flex-col items-center">
            <img src="img/Audiography.png" style="width: 48px; height:auto;">
            Audiography
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public Challenges Challenges { get; set; }




}
